extends layout

block content
  h3 Welcome to roots!.
  :markdown
    This is a tesing message
 h1 Hello World
  ul
    - for post in contentful.blog_posts
      li
        h2= post.title
        p= markdown(post.body)