extends layout

block content
  h1 Welcome MESSAGE
  :markdown
    This is a TEST message
  h2 Welcome MESSAGE
  :markdown
    This is a TEST message
  h3 Welcome MESSAGE
  :markdown
    This is a TEST message
