extends layout

block content
  h3 Welcome to roots!.
  :markdown
    This is a tesing message
  ul
   - for p in contentful.blog_posts
    li
      h1= p.title
      img(src!= asset(p.image, {w: 100%, h: 100%}))
      p= p.body
